name: Publish Extension

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build extension
        run: npm run build

      - name: Install publishing tools
        run: npm install -g @vscode/vsce ovsx

      - name: Publish to VS Code Marketplace
        run: vsce publish --pat ${{ secrets.VSCE_PAT }}

      - name: Publish to Open VSX
        run: ovsx publish -p ${{ secrets.OVSX_PAT }}
